<footer class="footer sm:footer-horizontal bg-base-300 items-center p-4">
  <aside class="grid-flow-col items-center">
    <img style="height: 8rem; width: 8rem" src="../../public/logo2.png" alt="ahenk"> 
    <p>Alperen ATASEVEN © {new Date().getFullYear()} - Tüm Hakları Saklıdır</p>
  </aside>
</footer>